
@font-face {
	font-family: 'Scotch Deck';
	src: url('../fonts/bold/ScotchDeck-Bold.eot');
	src: url('../fonts/bold/ScotchDeck-Bold.woff2') format('woff2'),
		 url('../fonts/bold/ScotchDeck-Bold.woff') format('woff'),
		 url('../fonts/bold/ScotchDeck-Bold.ttf') format('truetype'),
		 url('../fonts/bold/ScotchDeck-Bold.svg#ScotchDeck-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Scotch Deck';
	src: url('../fonts/med/ScotchDeckComp-Md.eot');
	src: url('../fonts/med/ScotchDeckComp-Md.woff') format('woff'),
		 url('../fonts/med/ScotchDeckComp-Md.woff2') format('woff2'),
		 url('../fonts/med/ScotchDeckComp-Md.ttf') format('truetype'),
		 url('../fonts/med/ScotchDeckComp-Md.svg#ScotchDeckComp-Md') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
} 

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

 body {
	font-family: "Poppins";
	font-size: 20px;
	line-height: 1;
	font-weight: 600;
	color: #1E2438;
	background-color: #fff;
}
/*--------------Технич. классы---------------*/
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

._container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}
._ibg {
	position: relative;
}

._ibg  img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*-----------Page--------------------------*/

.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__ourreview {
}
.page__product {
}
.page__potato {
}
.page__awesome {
}
.page__join {
}
/*----------Header----------------------*/

.header {
	/* background-color: #B1464A; */
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
	z-index: 50;
	border-bottom: 1px solid #FFFFFF;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 114px;
}
/* .header__container>*:not(:last-child) {
	margin: 0 267px 0 0;
} */
.header__logo {
	flex: 0 0 15.66%;
	padding-right: 14px;
	
}
.header__menu {
}
.menu-header {
	flex: 0 1 29.333%
}
.menu-header__list {
	display: flex;
	flex-wrap: wrap; 
}
.menu-header__item:not(:last-child) {
	margin: 0 47px 0 0;
}
.menu-header__link {
	font-size: 16px;
	line-height: 135.5%;
	letter-spacing: -0.02em;
	text-transform: capitalize;
	color: #FFFFFF;
}
.header__user {
	flex: 0 1 11%;
	
}
.user-header {
	display: flex;
	min-width: 134px;
	justify-content: space-between;
}

.user-header__link {
}
@media(max-width: 479px) {
	.header__container {
		flex-wrap: wrap;
		padding-bottom: 8px;
	}
	.header__logo {
		flex: 0 1 50%;
	}
	.menu-header {
		flex: 0 1 50%
	}
	.header__user {
		flex: 1 1 25%;
		justify-content: center;
		padding-top: 10px;		
	}
	.user-header__button:not(:last-child) {
		margin-right: 30px;
	}
}
@media(max-width: 430px) {
	.header__logo {
		flex: 1 1 100%;
		margin: 0 auto;
	}
	.header__menu {
		margin: 0 0 20px 0;
	}
}

/*------------------Main block------------------------*/

.main-block {
	/* background-color: #B1464A; */
	position: relative;
	padding: 28px 0 240px 0;
	
}
.main-block__container {
	padding-top: 142px;
	position: relative;
}

.main-block__title {
	font-family: 'Scotch Deck';
	font-style: normal;
	font-weight: 700;
	font-size: 110px;
	line-height: 135.5%;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	color: #FFFFFF;
	position: relative;
	z-index: 100;
}

.main-block__title::after {
	content: "";
	position: absolute;
	top: 165px;
	right: 165px;
	width: 120px;
	height: 115px;
	background-image: url("/img/main block/wave.svg") ;
	background-repeat: no-repeat;
}

.main-block__row {
	display: flex;
	margin: 0 0 262px 0;
	position: relative;
	z-index: 10;
}
.main-block__item {
}
.item-block {
	padding-top: 32px;
	flex: 0 1 50%;
}

.item-block--left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.item-block__review {
	margin: 0 0 68px 0;
}
.review {
	display: flex;
	align-items: center;
}
.review__image {
	margin: 0 8px 0 0;
}
.review__text {
	font-weight: 500;
	line-height: 135.5%;
	letter-spacing: -0.02em;
	text-transform: capitalize;
	color: #FFFFFF;
	
}
.item-block__button-left {
	display: inline-flex;
	align-self: center;
	border: 2px solid #fff;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 135.5%;
	letter-spacing: -0.02em;
	text-transform: capitalize;
	color: #FFFFFF;
	padding: 14px 60px 14px 28px;
	position: relative;
}

.item-block__button-left:hover {
	background-color: #e86a6a;
	border: 2px solid #fff;
}

.item-block__button-left::after {
	content: "";
	width: 21px;
	height: 16px;
	position: absolute;
	top:35%;
	right: 20px;
	background-image: url("/img/main block/arrow_small.svg");
	background-repeat: no-repeat;
}

.item-block__button-left::before {
	content: "";
	width: 101px;
	height: 11px;
	position: absolute;
	bottom: -68px;
	left: 0;
	background-image: url("/img/main block/decor1.svg");
	background-repeat: no-repeat;
	cursor: default;
}

.item-block--right {
	display: flex;
	flex-direction: column;
	order: 3;
}

.item-block__type {
	display: flex;
	transform: rotate(270deg);
	position: absolute;
	right: -93px;
	top: 20px;
	z-index: 155;
}

.item-block__type p {
	font-weight: 400;	
	line-height: 135.5%;	
	letter-spacing: -0.02em;
	text-transform: capitalize;
	color: #fff;
}


.item-block__type p:not(:last-child) {
	margin-right: 36px;
}
.item-block__button-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 15px;
	padding-top: 173px;

}

.item-block__button-link {
	display: inline-flex;
	min-height: 80px;
	min-width: 80px;
	border: 2px solid #fff;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	text-align: center;	
}

.item-block__button-link:hover {
	background-color: #e86a6a;
	border: 2px solid #fff;
}

.item-block__button-right p {
	padding-left: 16px;
	color: #fff;
}

.main-block__slider-btn {
	flex: 1 1 100%;
	position: absolute;
	z-index: 101;
	max-width: 280px;
	bottom: -60%;
	left: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-block__slider-btn>*:not(:last-child) {
	margin: 0 30px 0 0;
}
.slider-btn__arrow-left,
.slider-btn__arrow-right {
	cursor: pointer;
}
.slider-btn__square {
	width: 18px;
	height: 18px;
	background: #B1464A;
	border-radius: 4px;
}

.main-block__cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.item-block--center {
	flex: 1 1 100%;
	position: relative;
	
	order: 2;
	margin-left: auto;
	margin-right: auto;
}

.main-block__image {
	position: absolute;
	padding-bottom: 111.98%;
	z-index: 120;
	width: 100%;
	height: 100%;
	
	
}

.main-block__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	
}
/*----------------BG CSS------------------*/

/* .main-block {
	background-image: url("/img/main block/head cover-002.png");
	background-position: center center; 
	background-repeat: no-repeat;  
	background-attachment:scroll; 
	background-size: cover; 
	background-color: #464646; 

} */
/*----------------BG CSS------------------*/
@media(max-width: 1014px) {
	.main-block__slider-btn {		
		left: 36%;
  }
}
@media(min-width: 992px) {	
	.item-block-center {
		margin: 0;
		top: 0;
		right: 43px;
	}	
	.main-block__slider-btn {
		bottom: -100%;
		padding-bottom: 105px;
	}
}

@media(max-width: 992px) {
.main-block {
	padding: 28px 0 114px 0;
}
}

@media(max-width: 880px) {
	.main-block__container {
		padding-top: 119px;
  }
	.main-block__cover img {
		height: 82%;
	}	
}

@media(max-width: 856px) {
	.main-block__title {		
		font-size: 92px;
		line-height: 120.5%;
  }
  .item-block__button-left {	
	font-size: 16px;
}
	.item-block__button-right p {
		font-size: 16px;
}
	.item-block__type p {
		font-size: 16px;
}
.main-block__title::after {
	display: none;
}
}

@media(max-width: 747px) {
	.main-block {
		padding: 28px 0 40px 0;
  }
 
	
	.item-block__button-right {
		padding-top: 116px;
	}
	.main-block__slider-btn {
		display: none;
	}
}


@media(max-width: 671px) {
	.main-block__container {
		padding-top: 155px;
   }
	.main-block__title {
		font-size: 74px;
		line-height: 95.5%;
  }
	.main-block__row {
		flex-wrap: wrap;
	}
	.item-block--left {
		order: 2;
		flex: 1 1 100%;
		align-items: stretch;
		padding-top: 72px;
	}

	.item-block--right {
		order: 3;
		flex: 1 1 100%;
	}
	.item-block--center {
		order: 1;
		flex: 0 1 100%;
	}
	
	.main-block__title {		
		padding-bottom: 95%;
	}
	.main-block__image img {	
	top: -90%;
}
.main-block__cover img {
	height: 103%;
}

.item-block__type {	
	right: -80px;
	top: -115px;
}
.item-block__type p:not(:last-child) {
	margin-right: 20px;
}
.item-block--left {
	margin-bottom: -186px;
}
.item-block__button-right {
	padding-top: 173px;
}
.item-block__review {
	margin: 0 0 25px 0;
}
}

/*---------------Overwiew-------------------*/

.ourreview {
	padding: 80px 0 50px 0;
}
.ourreview__container {
}


.ourreview__row {
	display: flex;
	flex-wrap: wrap;
}

.ourreview__achievements {
}
.achievements {
	flex: 0 1 50%;
	display: flex;
	padding: 50px 79px 54px 0px;
	position: relative;
	align-items: flex-start;
	display: flex;
	}

.achievements::before {
	position: absolute;
	content: "";
	width: 100vw;
	height: 100%;
	top: 0;
	left: 98%;
	background-color: #FFF0DE;
	transform: translate(-100%, 0px);
}
.achievements__box {
	position: relative;
	z-index: 20;
}
.achievements__box:not(:last-child) {
	margin: 0 76px 0 0;
}
.box-achievements__number {
	font-family: 'Scotch Deck';
	font-weight: 500;
	font-size: 62px;
	line-height: 119%;
	text-transform: capitalize;
	color: #1E2438;
}
.box-achievements__product {
	font-weight: 500;
	font-size: 21px;
	line-height: 152%;
	text-transform: capitalize;	
	color: #1E2438;
}
.ourreview__description {
}
.description {
	flex: 0 1 50%;
	padding: 13.5px 0 13.5px 90px;
}
.description__title {
	font-family: 'Scotch Deck';	
	font-weight: 500;
	font-size: 32px;
	line-height: 118.75%;
	text-transform: capitalize;	
	color: #1E2438;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #D9D9D9;
}
.description__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	text-transform: capitalize;
	color: #1E2438;
	padding: 0 20px 0 0;
}

@media(max-width: 1114px) {
	
	.description {
		flex: 0 1 70%;
		margin: 0 auto;
		padding-left: 0;
  }
  .achievements {
	flex: 0 1 70%;
	margin: 0 auto 20px auto;
	padding: 20px;
}
.achievements::before {	
	width: 115vw;
	left: 3%;	
	transform: translate(-18%, 0px);
}

}

@media(max-width: 992px) {
	.achievements {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.achievements__box:not(:last-child) {
		margin: 0 0 20px 0;
	}
	.achievements__box {
		flex: 1 1 100%;
		text-align: center;
}
.description__title {
	text-align: center;
}
}

@media(max-width: 747px) {	
  .ourreview {
	padding-top: 0;
}
}
@media(max-width: 671px) {
.ourreview {
	margin-top: -260px;
}
.item-block__button-left::before {
	display: none;
}
}
/*------------Product--------------------*/


.product {
	padding: 50px 0 110px 0;
}
.product__container {
}
.product__row-top {
	display: flex;
	justify-content: space-between;
	/* padding-left: 110px; */
	position: relative;
}
.row-top {
	
}
.row-top__wrap {
	flex: 0 1 48.166%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.row-top__title {
	font-family: 'Scotch Deck';
	font-weight: 500;
	font-size: 100px;
	line-height: 120%;
	text-transform: capitalize;	
	color: #1E2438;
	padding: 25px 0 0 0;
	align-self: flex-end;
	margin: 0 0 65px 0;
}
.row-top__button {
	display: inline-flex;
	min-height: 55px;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #B1464A;
	border: 2px solid #B1464A;
	border-radius: 10px;
	padding: 14px 60px 14px 28px;
	position: relative;
	z-index: 150;
	}

	.row-top__button:hover {
	background-color: #ebb6b6;
	}

	.row-top__button::after {
		content: "";
		position: absolute;
		width: 20px;
		height: 16px;
		right: 22px;
		top: 17px;
		background-image: url("../img/product/arrow.svg");
		background-repeat: no-repeat;
  }

.row-top__image {
	flex: 0 1 41.083%;
	padding-left: 29px;
	position: relative;
	padding-bottom: 40.75%;
}
.row-top__image img {	
	object-fit: contain;
}
.product__row-bottom {
	display: flex;	
	justify-content: space-between;
	position: relative;
	margin-top: -55px;
	z-index: 3;
}
.row-bottom__image {
	flex: 0 1 24.583%;
	
}
.row-bottom__text {
	flex: 0 1 67.166%;
	padding-top: 133px;
}
.row-bottom__title {
	font-family: 'Scotch Deck';	
	font-weight: 500;
	font-size: 32px;
	line-height: 118.75%;
	text-transform: capitalize;	
	color: #1E2438;
	padding: 0 0 21px 0;	
	border-bottom: 2px solid #D9D9D9;
}
.row-bottom__title:not(:last-child) {
	margin: 0 0 20px 0;
}
.row-bottom__description {
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	text-transform: capitalize;
	color: #1E2438;
}

@media(max-width: 1070px) {
	.row-top__wrap {		
		align-items: flex-start;
  }
	.product__row-bottom {		
		position: static;		
	}	
	.row-bottom__image {		
		padding-top: 85px;
  }
	.row-bottom__text {		
		padding: 91px 0 0 30px;
  }
  .row-top__title {	
	font-size: 88px;
	line-height: 103%;	
}
}
@media(max-width: 992px) {
	.row-top__image {		
		align-self: flex-start;
  }
}

@media(max-width: 874px) {
	.row-bottom__text {
		padding: 67px 0 0 0;
  }
	.row-top__title {		
		margin: 0 0 20px 0;
		padding: 0;
		font-size: 70px;
  }
  .row-bottom__image {	
	padding: 75px 0 0 0;
}
.product__row-bottom {
	
	margin-top: -25px;
	
}
.row-top__title {
	margin: 0 0 50px 0;
}
.row-bottom__title:not(:last-child) {
	margin: 0 0 12px 0;
}
.row-bottom__title {
	padding: 0 0 12px 0;	
}
}

@media(max-width: 690px) {
	.product {
		padding: 20px 0 70px 0;
  }
	.product__row-top {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.row-top__wrap {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
	}
	.row-top__image {
		flex: 0 1 41.083%;
		padding: 0 0 25px 0;
		margin: 0 auto;
		position: relative;
	}
	.row-top__title {
		text-align: center;
	}
	
  .row-top__image img {
	position: static;	
}
.row-bottom__image {
	padding: 80px 0 0 0;
} 
.product__row-bottom {
	flex-wrap: wrap;
	justify-content: center;
}
.row-bottom__image {
	flex: 0 1 50%;	
	margin: 0 auto;
}
.row-top__button {	
	padding: 14px 60px 14px 60px;	
}
.row-bottom__description {	
	font-size: 18px;	
}
}
/*----------------Potato----------------*/
.potato {
	padding: 90px 0;
	background-color: #FFF0DE;
}
.potato__container {
}
.potato__row {
	display: flex;
	justify-content: space-between;
}
.potato__image {
	flex: 0 1 467px;
	position: relative;
	padding-bottom: 38.91%;	
}

.potato__image img {
	object-fit: contain;
}

.potato__body {
	flex: 0 1 57.833%;
	padding: 0 0 0 39px;
}
.body-potato {
}
.body-potato__title {
	font-family: 'Scotch Deck';
	font-weight: 500;
	font-size: 80px;
	line-height: 120%;
	text-transform: capitalize;
	color: #1E2438;
	padding: 0 0 20px 0;
	border-bottom: 2px solid #D9D9D9;
}
.body-potato__text {	
	font-weight: 500;
	font-size: 16px;
	line-height: 170%;
	text-transform: capitalize;
	color: #1E2438;
	padding: 20px 0 0 0;
	margin: 0 0 68px 0;
}
.body-potato__image {
	position: relative;
	padding-bottom: 26.945%;
}

.body-potato__image img {
	object-fit: contain;
}

@media(max-width: 884px) {
	.potato__row {
		flex-wrap: wrap;
	}
	.potato__image {
		flex: 0 1 89%;
		position: static;
		padding-bottom: 0;
		margin: 0 auto 20px auto;
	}
	.potato__image img {
		position: static;
	  }
	.potato__body {
		flex: 1 1 100%;
	}
	.body-potato__text {		
		font-size: 19px;	
		margin: 0 0 30px 0;	
  }  
}

/*--------------Awesome-----------------*/

.awesome {
	padding: 74px 0;
}
.awesome__container {
}
.awesome__row {
	display: flex;
	align-items: center;
}
.awesome__title {
	flex: 0 1 33.833%;
	font-family: 'Scotch Deck';
	font-weight: 500;
	font-size: 74px;
	line-height: 120%;
	text-transform: capitalize;	
	color: #1E2438;
}


.awesome__image {
	flex: 0 1 33.083%;
	position: relative;
	padding-bottom: 33.083%;
}
.awesome__text {
	flex: 0 1 28.666%
}

.text-awesome__title:not(:last-child) {
	margin: 0 0 12px 0;
}
.text-awesome__title {
	font-family: 'Scotch Deck';
	font-weight: 500;
	font-size: 24px;
	line-height: 120.8%;
	text-transform: capitalize;
	color: #1E2438;
}
.text-awesome__description {
	font-size: 17px;
	line-height: 140%;
	text-transform: capitalize;	
	color: #1E2438;
	margin: 0 0 30px 0;
}

.text-awesome__button  {
	display: inline-flex;
	min-height: 55px;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #B1464A;
	border: 2px solid #B1464A;
	border-radius: 10px;
	padding: 14px 60px 14px 28px;
	position: relative;
}

.text-awesome__button:hover {
	background-color: #ebb6b6;
}

.text-awesome__button::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 16px;
	right: 22px;
	top: 17px;
	background-image: url("../img/potato/02.svg");
	background-repeat: no-repeat;
}


@media(max-width: 992px) {
	.awesome__title {		
		font-size: 60px;
	}
}

@media(max-width: 772px) {
.text-awesome__button {
	font-size: 17px;
	padding: 14px 50px 14px 16px;
}
}
@media(max-width: 620px) {
	.awesome__row {
		flex-wrap: wrap;
	}
	.awesome__title {
		flex: 0 1 50%;
		margin: 0 0 20px 0;
	}
	.awesome__image {
		flex: 0 1 50%;
		padding-bottom: 51%;
	}
	.awesome__text {
		flex: 1 1 100%
	}
	
}
@media(max-width: 479px) {
	.awesome__row {
		text-align: center;
  }
	.awesome__title {
		flex: 1 1 100%;
	}
	.awesome__image {
		flex: 1 1 100%;
		padding-bottom:100%;
	}
.awesome__title {
	font-size: 50px;
	line-height: 110%;
}

.text-awesome__title {	
	font-weight: 600;
	font-size: 30px;
}
.text-awesome__title:not(:last-child) {
	margin: 20px 0 12px 0;
}
}

/*-------------Join-------------------*/

.join {
	
}
.join__container {
	
}
.join__content {
	padding: 74px 99px 90px 99px;
	
}
.join__body {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 100px 170px;
	background-color: #B1464A;
	
}

.join__title {
	font-family: 'Scotch Deck';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 115.5%;
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 0 0 16px 0;
}
.join__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 165.5%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	opacity: 0.7;
	padding: 0 22px;
	margin: 0 0 32px 0;
}
.join__form {
}
.form-join {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	/* left: 11%; */
}

.form-join__input {
	flex: 1 1 auto;
	min-height: 70px;
	width: 100%;
	padding: 0 20px;
	background-color: #FFFFFF;
	border-radius: 6px;
	border: 1px solid #E6E6E6;
	font-weight: 400;
	font-size: 16px;
	line-height: 213%;
	text-transform: capitalize;
	color: rgba(30, 36, 56, 0.51);	
	/* align-self: center;
	position: relative; */
}


.form-join__button {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	min-height: 49px;
	font-weight: 400;
	font-size: 14px;
	line-height: 200%;
	background: linear-gradient(180deg, #E47479 17.59%, #B1464A 95.19%);
	box-shadow: 0px 5px 22px rgba(253, 94, 95, 0.6);
	border-radius: 6px;
	padding: 11px 40px;
	cursor: pointer;
	position: absolute;
	right: 9px;	
}

.form-join__button:hover {
	background: linear-gradient(180deg, #df4b52 17.59%, #cd1218 95.19%);
}

@media(max-width: 1123px) {
	.join__body {
		padding: 100px 82px;;
  }
}
@media(max-width: 992px) {
	.join__body {
		padding: 70px 94px;
  }
  .form-join__button {	
	padding: 11px 32px;
	/* right: 144px; */
}
.join__content {
	padding: 74px 40px 90px 40px;
}
}
@media(max-width: 687px) {
	.join__body {
		padding: 50px;
  }
  .form-join__input {	
	font-size: 14px;
	min-height: 60px;
	}
	.form-join__button {
		padding: 5px 22px;
  }
}

@media(max-width: 554px) {	
	.join__content {
		padding: 74px 0 0 0;
  }
	.form-join__button {
		top: 74px;
		right: 0;
	}
  .join__body {
	padding-bottom: 105px;
  } 
  .form-join__input {	
	text-align: center;	
	padding: 0;
	min-height: 49px;
}
}

/*-----------Footer----------*/
.footer {
	padding: 100px 0 40px 0;
	color: #fff;
	background-color: #1E2438;
	
}
.footer__top {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	
}
.top-footer {
	
}
.top-footer__container {
}
._container {
}
.top-footer__row {
	display: flex;
	padding-bottom: 40px;

}
.top-footer__item:first-child {
	flex: 0 1 40%;
	margin: 0 165px 0 0;
}
.top-footer__item {
	flex: 0 1 20%;
}

.top-footer__item:nth-child(2) {
	flex: 0 1 15%;
	margin: 0 124px 0 0;
}

.top-footer__item:nth-child(3) {
	flex: 0 1 20%;
	margin: 0 114px 0 0;
}

.top-footer__item:last-child {
	flex: 0 1 25%;
}

.top-footer__logo {
	display: block;
	margin: 0 0 4px 0;
}
.top-footer__text {
	font-family: 'Hind';
	font-weight: 300;
	font-size: 18px;
	line-height: 175%;
	text-transform: capitalize;
	margin: 0 0 25px 0;
}
.top-footer__social-list {
}
.social-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 146px;
}
.social-list__point {
}
.social-list__link {
}
.top-footer__title {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 149%;
	text-transform: capitalize;
	margin: 0 0 18px 0;
}
.top-footer__list {
}
.top-footer__term:not(:last-child)  {
	margin: 0 0 15px 0;
}
.term a {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 126%;
	text-transform: capitalize;
	color: inherit;
}
.term__link{
	
}
.footer__bottom {
	/* min-height: 108px; */
}
.botom-footer {
	padding-top: 40px;
}
.botom-footer__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.botom-footer__copyright {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 165%;
	text-align: center;
	text-transform: capitalize;
}

@media(max-width: 900px) {
	.top-footer__logo {
		/* display: block; */
		margin: 0 0 11px 0;
  }
	.top-footer__row {
		flex-wrap: wrap;
		justify-content: space-around;
	
	}
	.top-footer__item:first-child {
		flex: 0 1 35%;
		margin: 0 0 30px 0;
	}
	
	.top-footer__item:nth-child(2) {
		flex: 0 1 35%;
		margin: 0 0 30px 0;
		padding-top: 19px;
	}
	
	.top-footer__item:nth-child(3) {
		flex: 0 1 35%;
		margin: 0;
	}
	
	.top-footer__item:last-child {
		flex: 0 1 35%;
	}
}

@media(max-width: 465px) {
	.top-footer__row {
		justify-content: center;
	}
	.top-footer__item:first-child {
		flex: 1 1 100%;
		margin: 0 0 30px 0;
	}
	
	.top-footer__item:nth-child(2) {
		flex: 1 1 100%;
		margin: 0 0 30px 0;
	
	}
	
	.top-footer__item:nth-child(3) {
		flex: 1 1 100%;
		margin: 0 0 30px 0;
	}
	
	.top-footer__item:last-child {
		flex: 1 1 100%;
	}
	.top-footer__item {
		text-align: center;
	}
	.social-list {		
		margin: 0 auto;
  }
}